run = "npm run build && npm start"
entrypoint = "server/index.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
